# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.swp
*.png
*.jpg
*.gltf
*.py
*.user
tags
.vs
build
CMakeSettings.json
thirdparty/SDL/
thirdparty/spdlog/
thirdparty/json/
thirdparty/fltk/
thirdparty/glm/
thirdparty/googletest/
!include/kame/json
!src/json
assimp/
out/
!include/kame/assimp
!src/assimp
p5/
!examples/data/*.gltf
!examples/data/*.png
*.glsl
*.spv
*.lua
